header {
    background-color: #ededed;
    text-align: center;
    border-bottom: 2px solid goldenrod;

}

/* MAIN */
.section-title {
    color: goldenrod;
    font-size: 24px;
}

.subsection-title {
    font-style: italic;
}

/* Footer */
hr {
    border-color: goldenrod;
    border-style: solid;
}